@using kadmium_osc_dmx_dotnet_core
@using kadmium_osc_dmx_dotnet_core.Transmitters
@using kadmium_osc_dmx_dotnet_core.Listeners
@using kadmium_osc_dmx_dotnet_webui.ViewHelpers
@{
    ViewData["Title"] = "Dashboard";
}

@{
    string venuePanelClass = MasterController.Instance.Venue == null ? "warning" : "success";
    string venueHeader = MasterController.Instance.Venue == null ? "No venue selected" : MasterController.Instance.Venue.Name;
    string panelGlyph = MasterController.Instance.Venue == null ? "glyphicon-info-sign" : "glyphicon-ok-sign";
}

<div id="status-alerts">

</div>
<div class="row">
    <div class="col-sm-3">
        <div class="panel panel-@venuePanelClass">
            <div class="panel-heading text-center"><strong>Venue</strong></div>
            <div class="panel-body text-center alert-@venuePanelClass">
                <span class="status-glyph glyphicon @panelGlyph"></span><br>
                @venueHeader
            </div>
            <div class="panel-footer text-center">
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Load Venue <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        @{
                            foreach (string venueName in FileAccess.GetVenueNames())
                            {
                                <li><a href="#" class="venue-load-link" data-id="@venueName">@venueName</a></li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>


@foreach (IEnumerable<Transmitter> transmitterBatch in MasterController.Instance.Transmitters.Batch(4))
{
        @foreach (Transmitter transmitter in transmitterBatch)
        {
            string controller = transmitter.GetType().Name + "s";

            <div class="col-sm-3">
                <div class="panel panel-default status-panel" data-controller="@controller" data-id="@transmitter.Name">
                    <div class="panel-heading text-center"><strong>@transmitter.DisplayName</strong></div>
                    <div class="panel-body text-center">
                        <span class="status-glyph glyphicon glyphicon-question-sign"></span><br>
                        <span class="status-message">Loading...</span>
                    </div>
                    <div class="panel-footer text-center">
                        <a class="btn btn-info" asp-controller="@controller" asp-action="Live" asp-route-id="@transmitter.Name">Live</a>
                    </div>
                </div>
            </div>
        }
}

@foreach (IEnumerable<Listener> listenerBatch in MasterController.Instance.Listeners.Batch(4))
{
        @foreach (Listener listener in listenerBatch)
        {
            string controller = listener.GetType().Name + "s";

            <div class="col-sm-3">
                <div class="panel panel-default status-panel" data-controller="@controller" data-id="@listener.Name">
                    <div class="panel-heading text-center"><strong>@listener.DisplayName</strong></div>
                    <div class="panel-body text-center">
                        <span class="status-glyph glyphicon glyphicon-question-sign"></span><br>
                        <span class="status-message">Loading...</span>
                    </div>
                    <div class="panel-footer text-center">
                        <a class="btn btn-info" asp-controller="@controller" asp-action="Live" asp-route-id="@listener.Name">Live</a>
                    </div>
                </div>
            </div>
        }
    
}

</div>
<script src="~/js/Dashboard.js"></script>
