@using kadmium_osc_dmx_dotnet_core;

@{
    ViewData["Title"] = "Fixture Collections";
}

<binding-context data-bind="with: selectedItem">
    <modal-window large="true" id="modal-edit">
        <modal-header>Editing <span class="item-name" data-bind="text: name"></span></modal-header>
        <modal-body>
            @Html.Partial("ModalEditorStatus")
            <div data-bind="visible: !isBusy()" class="form-horizontal">
                <input-label label="Name:" data-bind="validationElement: name"><input type="text" class="form-control" data-bind="value: name" name="name"></input-label>
                <input-collection name="fixtures">
                    <input-collection-body>
                        <input-collection-item label="Model">
                            <select class="form-control" data-bind="value: type">
                                @foreach (string name in FileAccess.GetFixtureNames())
                                {
                                    <option>@name</option>
                                }
                            </select>
                        </input-collection-item>
                        <input-collection-item label="Channel"><input type="number" class="form-control" data-bind="value: channel" min="1" max="512"></input-collection-item>
                        <input-collection-item label="Group">
                            <select class="form-control" data-bind="value: group">
                                @foreach (string groupName in MasterController.Instance.Groups.Keys)
                                {
                                    <option>@groupName</option>
                                }
                            </select>
                        </input-collection-item>
                        <input-collection-item label="Options">
                            <button asp-template="edit" data-bind="click: $parent.editOptions.bind($parent)"></button>
                        </input-collection-item>
                        <input-collection-item label="Remove">
                            <button asp-template="delete" data-bind="click: $parent.removeFixture.bind($parent)"></button>
                        </input-collection-item>
                    </input-collection-body>
                    <input-collection-footer>
                        <button asp-template="add" data-bind="click: addFixture"></button>
                    </input-collection-footer>
                </input-collection>
            </div>
        </modal-body>
        <modal-footer>
            @Html.Partial("ModalEditorFooter")
        </modal-footer>
    </modal-window>

    <binding-context data-bind="with: selectedFixture().options">
        @Html.Partial("FixtureOptionsEditor")
    </binding-context>
</binding-context>


@Html.Partial("ItemList")

@section scripts
{
    <environment names="Development">
        <script>
        require(["Controllers/FixtureCollections/FixtureCollections"])
        </script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/Release/fixtureCollection.bundle.js"></script>
    </environment>
}
