@using kadmium_osc_dmx_dotnet_core;
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_ListLayout.cshtml";
    ViewData["Title"] = "Fixture Collections";

    var optionsWindow = new InputSubWindow("options", "Options", "$parent.editOptions.bind($parent)", "selectedItem().selectedFixture().options",
        new InputCollection("axisRestrictions", "Axis Restrictions", "addAxisRestriction", "removeAxisRestriction",
            new InputSelect("name", "Axis", new Dictionary<string, string>()
            {
                ["Pan"] = "Pan",
                ["Tilt"] = "Tilt"
            }),
            new InputNumber("min", "Minimum", -270, 270),
            new InputNumber("max", "Maximum", -270, 270)
        ),
        new InputCollection("axisInversions", "Axis Inversions", "addAxisInversion", "removeAxisInversion",
            new InputSelect("name", "Axis", new Dictionary<string, string>()
            {
                ["Pan"] = "Pan",
                ["Tilt"] = "Tilt"
            })
        )
    );

    var inputs = new InputElement[]
{
        new InputText("name", "Name:"),
        new InputCollection("fixtures", "Fixtures:", "addFixture", "removeFixture",
            new InputSelect("type", "Model", FileAccess.GetFixtureNames().ToDictionary(x => x)),
            new InputNumber("channel", "Channel", 1, 512),
            new InputSelect("group", "Group", MasterController.Instance.Groups.Keys.ToDictionary(x => x)),
            optionsWindow
        )
};
}
<modal-window id="modal-edit" data-bind="with: selectedItem" large="true">
    <modal-header>
        @Html.Partial("ModalEditorHeader")
    </modal-header>
    <modal-body>
        @Html.Partial("ModalEditorStatus")
        <form data-toggle="validator">
            <div class="form-horizontal" id="edit-form">
                @foreach (var input in inputs)
                {
                    if (input is VisibleInputElement)
                    {
                        @Html.Partial("InputLabel", input);
                    }
                    else
                    {
                        @Html.Partial(input.ViewName, input);
                    }
                }
            </div>
        </form>
    </modal-body>
    <modal-footer>
        @Html.Partial("ModalEditorFooter")
    </modal-footer>
</modal-window>

@Html.Partial("InputSubWindowModal", optionsWindow)

@section scripts
{
    <script src="~/js/FixtureCollections.js"></script>
}
