@model ListData

@{ 
    Layout = "_Layout.cshtml";
    string controllerURL = ViewContext.RouteData.Values["controller"].ToString();
}

<ul class="list-group" id="items" data-controller-url="@controllerURL">
    <li class="list-group-item clearfix list-item-prototype" data-item-id="prototype">
        <span class="list-item-id">prototype</span>
        <div class="pull-right btn-group">
            @if (ViewData.ContainsKey("Load") && (bool)ViewData["Load"])
            {
                //<a asp-action="Load" asp-route-id="@name" class="btn btn-success" title="Load"><span class="glyphicon glyphicon-download-alt"></span></a>
            }
            <button class="btn btn-default" title="Edit" data-item-id="prototype" data-toggle="modal" data-target="#modal-edit"><span class="glyphicon glyphicon-pencil"></span></button>
            <button class="btn btn-danger" title="Delete" data-item-id="prototype" data-toggle="modal" data-target="#confirm-delete"><span class="glyphicon glyphicon-remove"></span></button>
        </div>
    </li>

    @foreach (string name in Model.Items)
    {
        <li class="list-group-item clearfix" data-item-id="@name">
            <span class="list-item-id">@name</span>
            <div class="pull-right btn-group">
                @if (ViewData.ContainsKey("Load") && (bool)ViewData["Load"])
                {
                    <a asp-action="Load" asp-route-id="@name" class="btn btn-success" title="Load"><span class="glyphicon glyphicon-download-alt"></span></a>
                }
                <button class="btn btn-default" title="Edit" data-item-id="@name" data-toggle="modal" data-target="#modal-edit" ><span class="glyphicon glyphicon-pencil"></span></button>
                <button class="btn btn-danger" title="Delete" data-item-id="@name" data-toggle="modal" data-target="#confirm-delete"><span class="glyphicon glyphicon-remove"></span></button>
            </div>
        </li>
    }
</ul>

<button class="btn btn-success" data-toggle="modal" data-target="#modal-edit"><span class="glyphicon glyphicon-plus"></span></button>

@Html.Partial("ModalDelete", Model.Name)

@RenderBody()

@section scripts
{
    <script src="~/js/validator.js"></script>
    <script src="~/js/ListLayout.js"></script>
}