@model InputSubWindow
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="modal fade bs-example-modal-lg" id="@Model.ID-edit" tabindex="-1" role="dialog" aria-hidden="true" data-bind="with: @Model.BindingContext">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                Editing <strong>@Model.Label</strong>
            </div>

            <div class="modal-body">
                <form data-toggle="validator" class="clearfix">
                    @foreach (var input in @Model.Items)
                    {
                        if (input is VisibleInputElement)
                        {
                            @Html.Partial("InputLabel", input);
                        }
                        else
                        {
                            @Html.Partial(input.ViewName, input);
                        }
                    }
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>