@model InputCollection
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div>
    <table class="table table-striped">
        <thead>
            <tr>
                @foreach(var inputElement in Model.Items)
                {
                    <th>@inputElement.Label</th>
                }
                <th>Delete</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: @Model.ID">
            <tr>
                @foreach (var inputElement in Model.Items)
                {
                    <td>@Html.Partial(inputElement.ViewName, inputElement)</td>
                }
                @{ var removeMethod = "$parent." + Model.RemoveMethod + ".bind($parent)"; }
                <td><button class="btn btn-danger" data-bind="click: @removeMethod"><span class="glyphicon glyphicon-remove"></span></button></td>
            </tr>
        </tbody>
    </table>
    <button class="btn btn-success" type="button" data-bind="click: @Model.AddMethod"><span class="glyphicon glyphicon-plus"></span></button>
</div>