@model InputCollection
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="col-sm-10">
    <table class="table table-striped">
        <thead>
            <tr>
                @foreach(var inputElement in Model.Items)
                {
                    <th>@inputElement.Label</th>
                }
                <th>Delete</th>
            </tr>
        </thead>
        <tbody id="@Model.ID">
            <tr id="@Model.ID-prototype" class="collection-prototype">
                @foreach (var inputElement in Model.Items)
                {
                    <td>@Html.Partial(inputElement.ViewName, inputElement)</td>
                }
                <td><button class="btn btn-danger collection-remove" type="button"><span class="glyphicon glyphicon-remove"></span></button></td>
            </tr>
        </tbody>
    </table>
    <button class="btn btn-success collection-add" id="@Model.ID-add" data-collection-id="@Model.ID" type="button"><span class="glyphicon glyphicon-plus"></span></button>
</div>