@model IEnumerable<InputElement>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<modal-window id="modal-edit" data-bind="with: selectedItem" large="true">
    <modal-header>
        @Html.Partial("ModalEditorHeader")
    </modal-header>
    <modal-body>
        @Html.Partial("ModalEditorStatus")
        <form data-toggle="validator">
            <div class="form-horizontal" id="edit-form">
                @foreach (var input in Model)
                {
                    if (input is VisibleInputElement)
                    {
                        @Html.Partial("InputLabel", input);
                    }
                    else
                    {
                        @Html.Partial(input.ViewName, input);
                    }
                }
            </div>
        </form>
    </modal-body>
    <modal-footer>
        @Html.Partial("ModalEditorFooter")
    </modal-footer>
</modal-window>