@model NavbarItem
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    bool enabledPassed = Model.EnablementOptions?.EnablementFunction() ?? true;
    List<string> listClasses = new List<string>();
    if(!enabledPassed)
    {
        listClasses.Add("disabled");
    }
    if(Model.Controller == ViewContext.RouteData.Values["controller"].ToString())
    {
        listClasses.Add("Active");
    }
    string listClass = String.Join(" ", listClasses);
    string title = !enabledPassed ? Model.EnablementOptions.DisabledTitle : "";
    
}

<li class="@listClass" id="@Model.ID">
    @if (enabledPassed)
    {
        <a asp-area="" asp-controller="@Model.Controller" asp-action="@Model.Action" title="@title">@Model.Display</a>
    }
    else
    {
        <a href="#" title="@title">@Model.Display</a>
    }
</li>
